/*
 * Base Style for ReactEasyUI site
 */


/* 网站字体
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Source Sans Pro */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../font/SourceSansPro/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
  url('../font/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../font/SourceSansPro/SourceSansPro-Regular.woff') format('woff'), /* Modern Browsers */
  url('../font/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../font/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* Roboto Mono */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../font/RobotoMono/RobotoMono-Regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
  url('../font/RobotoMono/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/RobotoMono/RobotoMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../font/RobotoMono/RobotoMono-Regular.woff') format('woff'), /* Modern Browsers */
  url('../font/RobotoMono/RobotoMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../font/RobotoMono/RobotoMono-Regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}


/* 网站图标
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import '../font/RESiteIcon/iconfont.css';
@font-face {
  font-family: "re-site-icon";
  src: url('../font/RESiteIcon/iconfont.eot?t=1486351964218'); /* IE9*/
  src: url('../font/RESiteIcon/iconfont.eot?t=1486351964218#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/RESiteIcon/iconfont.woff?t=1486351964218') format('woff'), /* chrome, firefox */
  url('../font/RESiteIcon/iconfont.ttf?t=1486351964218') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/RESiteIcon/iconfont.svg?t=1486351964218#re-site-icon') format('svg'); /* iOS 4.1- */
}


/* 网站引入样式
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import '../lib/prism.css'; // 代码高亮插件
@import '../component/Component.scss';