/*
 * Colors for ReactEasyUI
 */

$border: #ddd;
$white: #fff;
$black: #000;
$blue: #38f;
$red: #f00;
$green: #5b5;
$yellow: #e96900;

$fa: #fafafa;
$f8: #f8f8f8;
$f5: #f5f5f5;
$f2: #f2f2f2;
$e5: #e5e5e5;
$e2: #e2e2e2;

$eee: #eee;
$ddd: #ddd;
$ccc: #ccc;
$bbb: #bbb;
$aaa: #aaa;