/*
 * Component Style
 */


@import "../core/color.scss";
@import "../core/function.scss";


/* Date/AppCalendarPage
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.app-calendar-page {
  .re-date-area {
    border: 1px solid $border;
    border-radius: 2px;
    padding: 5px 15px;
  }
}


/* Getting Started
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.getting-started {
  blockquote {
    border-left: 4px solid $border;
    font: inherit;
    margin: 20px 0;
    padding: 0 0 0 20px;
  }
  pre {
    margin-bottom: 15px;
  }
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  .banner {
    background: url(../../images/about.jpg) center / cover no-repeat;
    height: 300px;
    .font {
      background: rgba($black,.2);
      width: 100%;
      height: 100%;
      color: $white;
      font-size: 3rem;
      text-align: center;
      padding: 90px;
      .small {
        font-size: 1.5rem;
      }
    }
  }
  .team {
    margin-top: 25px;
    .des {
      text-align: left;
      border-bottom: 1px solid $border;
      margin: 0 20px;
      padding-bottom: 10px;
      h3 {
        display: inline;
        text-align: center;
        margin-right: 10px;
      }
    }
    .info {
      margin-top: 25px;
      dl {
        float: left;
        width: 20%;
        text-align: center;
        &:hover {
          dt img {
            @include rotate;
          }
          dd b {
            color: $green;
            @include transi(color);
          }
        }
        dt {
          img {
            border-radius: 50%;
            height: 120px;
            cursor: pointer;
          }
        }
        dd {
          padding: 10px 20px 0;
          b {
            display: block;
            margin-bottom: 5px;
          }
          p {
            font-size: 1.4rem;
            text-align: left;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .banner {
      margin-left: -1px;
    }
  }
  @media (max-width: 768px) {
    .banner {
      background-size: auto;
      .font {
        padding: 90px 10px;
        font-size: 24px;
        .small {
          font-size: 12px;
        }
      }
    }
    .team {
      .info {
        dl {
          float: none;
          width: 100%;
          margin-bottom: 40px;
        }
      }
    }
  }
}


/* ECharts Welcome
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.echarts-welcome-page {
  .echartsDemo {
    margin-left: -1%;
    margin-right: -1%;
    .chart {
      float: left;
      background: #fff;
      border: 1px solid $e5;
      border-top: 0;
      box-shadow: 0 -5px 0 $blue;
      width: 31.33333%;
      height: 267px;
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 30px;
      a {
        display: block;
        position: relative;
        color: $black;
        text-decoration: none;
        .chart-title {
          padding-left: 10px;
        }
      }
    }
  }
  .chartDemoB {
    .chart {
      width: 48%;
      height: 420px;
    }
  }
  @media screen and (max-width: 1200px) {
    .echartsDemo{
      .chart{
        width:48%;
      }
    }
    .chartDemoB {
      margin-left: 0;
      margin-right: 0;
      .chart {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: 650px) {
    .echartsDemo {
      margin-left: 0;
      margin-right: 0;
      .chart{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}